@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Roboto:wght@300;900&display=swap');
*{
    padding:0;margin: 0;box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #131313;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
}

header .menu_side, .song_side{
    position: relative;
    width: 25%;
    /* height: 25%; */
    background-color: #111727;
    /* box-shadow: 5px 0px 2px #090f1f; */
    color:#fff
}
header .song_side{
    width: 75%;
    background: #0b1320;
}

header .master_play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1{
    font-size: 20px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

header .menu_side .playlist{
    margin: 40px 0 0 20px;
}
header .menu_side .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header .menu_side .playlist h4:hover{
    color: #fff;
}

header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
    content:"";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top:-4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color:#36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song{
    width: 100%;
    height: 320px;
    margin-top: 40px;
}

header .menu_side .menu_song li{
    position: relative;
    list-style: none;
    padding:5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .menu_song li:hover{
    background: rgb(105,105,170,.1);
}

header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}

header .menu_side .menu_song li .subtitle{
    font-size: 9px;
    color:#4c5262
}

header .menu_side .menu_song li .bi{
    position: absolute;
    right:15px;
    top:13px;
    font-size: 16px;
}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background: #36e2ec;
    animation: unset
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
}
/* javascript class wave */
header .master_play .active2 .wave1{
   animation: wave 0.5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){
    animation-delay: 0.4s;
}
header .master_play .active2 .wave1:nth-child(3){
    animation-delay: 0.8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master_play img{
    width: 35px;
    height: 35px;
}

header .master_play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color:#fff;
    line-height: 17px;
}
header .master_play h5 .subtitle{
    font-size: 11px;
    color:#4c5262;
}
header .master_play .icon{
    font-size: 20px;
    color:#fff;
    margin: 0 20px 0 40px;
}
header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2){
    border: 1px solid rgb(105,105,170,.1);
    border-radius: 50%;
    padding:1px 3px 0 6px;
    margin: 0 5px;
    transition: .3s linear;
}

header .master_play span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header .master_play span #currentStart{
   margin: 0 0 0 20px;
}

header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105,105,170,.1);
    margin: 0 15px 0 10px;
}

header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top:0;
}

header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left:0;
    top:-1px;
    transition: 0.1s linear;
}
header .master_play .bar .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left:-6px;
    top:-6px;
    box-shadow: inset 0 0 3px #36e2ec;
}

header .master_play .bar input{
    position: absolute;
    width: 100%;
    top:-6px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transition: 0.1s linear;
    opacity: 0;
}
header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105,105,170,.1);
}
header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top:-10px;
    left:-32px;
}

header .master_play .vol input{
    position: absolute;
    width: 100%;
    top:-10px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transition: 1s linear;
    opacity: 0;
}

header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 30%;
    height: 100%;
    top:0;
    transition: 0.4s linear;
}

header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left:30;
    top:-1px;
    transition: 0.4s linear;
}
header .master_play .vol .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left:-6px;
    top:-6px;
    box-shadow: inset 0 0 3px #36e2ec;
}

header .song_side{
    z-index: 2;
}
header .song_side::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("./img/bg.jpg");
    z-index: -1;
}

header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side nav ul{
    display: flex;
}
header .song_side nav ul li{
    position: relative;
    list-style: none;
    font-size: 13px;
    color:#4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear; 
}

header .song_side nav ul li:hover{
    color:#fff;
}

header .song_side nav ul li:nth-child(1){
    color:#fff;
}
header .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
header .song_side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
}

header .song_side nav .search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184,184,184,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .bi{
    font-size: 13px;
    padding:3px 0 0 10px;
}

header .song_side nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
}

header .song_side .content{
    width: 98%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
}

header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
}
header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color:#4c5262;
    margin: 5px;
}

header .song_side .content .buttons{
    margin-top: 15px;
}

header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color:#fff;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}

header .song_side .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}
header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_song .h4 .bi:hover{
    color:#fff
}
header .song_side .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
header .song_side .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_song .pop_song li{
    min-height: 100px;
    height: 140px;
    list-style: none;
    margin-right: 10px;
    transition: .3s linear;
}
header .song_side .popular_song .pop_song li:hover{
    background: rgb(105,105,170,.1);
}
header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}
header .song_side .popular_song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
}
header .song_side .popular_song .pop_song li .img_play:hover .bi{
    opacity: 1;
}

header .song_side .popular_song .pop_song li h5{
    padding:5px 0 0 5px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
header .song_side .popular_song .pop_song li h5 .subtitle{
    font-size: 9px;
    color:#4c5262;
    text-align: center;
}

header .song_side .popular_artists{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}
header .song_side .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_artists .h4 .bi:hover{
    color:#fff
}
header .song_side .popular_artists .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_artists .item li{
    list-style: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

header .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}